@font-face {
    font-family: "Biolinum";
    src: url("#{$font-asset-path}/linbiolinum_r.woff") format("woff");
}

@font-face {
    font-family: "Biolinum";
    src: url("#{$font-asset-path}/linbiolinum_rb.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Biolinum";
    src: url("#{$font-asset-path}/linbiolinum_ri.woff") format("woff");
    font-style: italic;
}
